<div class="footer">
    <div class="row">
        <div class="col-lg-4" style="background:#f00">
            <h2>Home</h2>
        </div>
        <div class="col-lg-4" style="background:#0f0">
            <h2>Scan</h2>
        </div>
        <div class="col-lg-4" style="background:#f00">
            <h2>Leaderboard</h2>
        </div>
    </div>
</div>
