<h2>Leaderboard</h2>
<ul class="list-group">
  <li class="list-group-item active ">My Points <span class="badge">180 points</span></li>
  <li class="list-group-item">Himanshu <span class="badge">198 points</span></li>
  <li class="list-group-item">Diwansh <span class="badge">205 points</span></li>
  <li class="list-group-item">Ankit <span class="badge">225 points</span></li>
  <li class="list-group-item">Deepanshu <span class="badge">305 points</span></li>
  <li class="list-group-item">Diwansh <span class="badge">325 points</span></li>
  <li class="list-group-item">Vishrut <span class="badge">405 points</span></li>
  <li class="list-group-item">Diwansh <span class="badge">205 points</span></li>
  <li class="list-group-item">Diwansh <span class="badge">205 points</span></li>
</ul>
</div>
