<div class="row">
    <div class="col-xs-12">
        <div class="head">
            <p class="heading">CREATE AN ACCOUNT</p>
            {{# if hasErrors}}
                <div class="alert alert-danger">
                  {{# each messages}}
                  <p>{{this}}</p>
                  {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-xs-12 col-lg-offset-4">
        <div class="login-block">
            <form action="/user/signup" class="box-shadow:none">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Full Name" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <select class="form-control no-glow">
                          <option>--Gender--</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                </div>
                <div class="form-group">
                    <input type="number" name="age" placeholder="Enter Age" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email Address" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control no-glow">
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="form-group">
                    <input type="submit" value="REGISTER" class="btn btn-success form-control submit-btn">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-xs-12 col-lg-offset-4 new">
        <div class="col-xs-10 col-xs-offset-1">
            <button class="btn form-control login-btn"><a href="/user/signin">LOGIN</a></button>
        </div>
    </div>
</div>
